.movies-count {
    position: absolute;
    margin-top: 300px;
    align-self: center;
    background-color: rgb(255, 195, 82);
    color: white;
    border-radius: 12px;
}

.movies-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-self: center;
}